
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,600&family=Poppins:wght@300&display=swap');
*{
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
.logo img {
    width: 167px;
    height: 48px;
    cursor: pointer;
}
:root{
    --primary-color:rgb(250, 248, 245);
    --secondary-color:#69c9ef;
}
body{
    /* background-color: var(--primary-color); */
    background-color: burlywood;
}
.header{
    /* background-color: var(--secondary-color); */
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 1rem;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255 255 255);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
  cursor: pointer;
}
nav ul li a::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    height: 3px;
    width: 0;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
nav ul li a:hover::before{
width: 100%;
  
}
nav ul li a:focus{
    background-color: var(--primary-color);
    color: black;

    opacity: -10px;
    border-radius: 30px;
}
nav ul li a:focus::before{
    width: 0%;
}
.search-btn{
    display: flex;
}
.inputText{
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2rem 0 0 2rem;
    padding: 0.3rem 1rem;
    color: rgb(12, 11, 5);
    background-color: var(--primary-color);
    box-shadow: inset 0 5px 10px var(--primary-color);
}
.inputText::placeholder{
    color: rgb(100, 2, 0);
}
.search-btn button{
    background-color: var(--secondary-color);
    box-shadow: inset 0 3px 10px var(--primary-color);
    padding: 0.2rem 0.5 rem;
    border-radius: 0 2rem 2rem 0;
    color: rgb(238, 10, 10);
    font-size: 1 rem;
    outline: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.container{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-right: 40px; */
}
.movie{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    
    background-color: var(--secondary-color);
    margin: 1 rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  margin: 20px;
}
.poster{
    width: 100%;
    height:200px;
    /* cursor: pointer; */
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-details .box{
    width: 100%;
    padding: 1 rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.title{
    width: 160px;
    text-align: center;
    cursor: pointer;
}
.movie-details .overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
     transform: translate(100%);
     cursor: pointer;
}
p {
    margin-right: 15px;
    margin-bottom: 5px;
}
.movie-details:hover .overview{
    transform: translateY(0%);

}
.reating{
    background-color: var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
    position: absolute; 
     right: -12px;
    bottom: -4px;

}
/* --------------------------------------- */
@media (max-width:866px){
    nav ul li a {
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        padding: .2rem .6rem;
        position: relative;
        text-decoration: none;
    }

}
@media (max-width:800px){
    nav ul li a {
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        padding: .2rem .6rem;
        position: relative;
        text-decoration: none;
    }
}
@media (max-width:768px){
    /* .header{
        background-color: var(--secondary-color);
        height: 180px;
    } */
    /* nav ul{
        display: flex;
        flex-direction: column; */

    /* } */
    /* nav ul li{
        padding-top: 200px;

    }
    .search-btn{
        width: 200px;
        margin-right: 100px;
    } */
    .logo img {
        width: 97px;
        height: 34px;
        cursor: pointer;
        margin-left: 70px;
    }
    nav ul li a {
        text-decoration: none;
        color: rgb(255 255 255);
        font-size: 16px;
        font-weight: bold;
        padding: 0.2rem 0.6rem;
        position: relative;
        cursor: pointer;
    }
    .search-btn button {
        margin-right: 57px;
    }
    .inputText {
        padding: 2px 0px;
    
    }
    nav ul li a {
        text-decoration: none;
        color: rgb(255 255 255);
        font-size: 7px;
        display: flex;
        flex-wrap: wrap;
    }
    ol, ul {
        padding-left: 0rem;
    }

}
@media (max-width: 600px) {
.inputText{
    display: none;
}
.search-btn {
    display: none;

}
.logo img {
    width: 131px;
    height: 36px;
    cursor: pointer;
    margin-left: 25px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 16px;
}
dl, ol, ul {
    margin-top: 15px;
    margin-bottom: 1rem;
}



}
@media (max-width: 600px) {
    .header {
        background-color: black;
        height: 100px;
        width: 125%;
        position:sticky;
    } 
    nav ul li a {
        text-decoration: none;
        color: rgb(255 255 255);
        font-size: 10px;
    }
    .logo img {
        width: 100px;
        height: 33px;
        cursor: pointer;
        margin-left: 25px;
    }
    .container {
        margin: auto;
        width: 120%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-right: 40px; */
    }
    

}

/* @media (max-width: 665px) {
    .logo img {
        width: 97px;
        height: 34px;
        cursor: pointer;
        margin-left: 62px;
    }
    nav ul li a {
        font-size: 11px;
       
        cursor: pointer;
    }

} */
/* @media (max-width: 525px) {
    .logo img {
        width: 59px;
        height: 22px;
        cursor: pointer;
        margin-left: 72px;
        margin-right: -23px;
    }
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .search-btn button {
        margin-right: 57px;
    }
    .inputText {
        padding: 2px 0px;
    
    } */
    /* .header { */
        /* background-color: var(--secondary-color); */
        /* background-color: black;
        height: 100px;
        width: 125%;

}
.search-btn button {
    margin-right: 140px;
}
nav ul li a {
    font-size: 10px;
    cursor: pointer;
}
} */

/* ------------------------------ */
/* .watch{
    display: flex;
    align-items: center;
    justify-content: center;
} */
